//BREADCRUMBS START
.breadcrambs {
	display: flex;
}
.breadcrambs__item {
	cursor: pointer;
}
.breadcrambs__item:not(:last-child)::after {
	content: '\\';
	padding: 0 5px;
}
.breadcrambs__item:hover .breadcrambs__link{
	text-decoration: underline;
}
//BREADCRUMBS END

//SORT BY START
.sort-by__head {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 16px;
	line-height: 110%;
	cursor: pointer;
}
.sort-by__head_icon {
	margin-right: 12px;
	font-size: 16px;
}
//SORT BY END
.digital-top {
	position: relative;
	background-image: url('../images/digital/top-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.digital-top__inner {
	color: #fff;
	padding-top: 73px;
	padding-bottom: 147px;
	z-index: 10;
	 @media(max-width: 991.98px) {
		padding-top: 50px;
		padding-bottom: 100px;
	 }
	 @media(max-width: 767.98px) {
		padding-top: 30px;
		padding-bottom: 80px;
	 }
	 @media(max-width: 575.98px) {
		padding-top: 15px;
		padding-bottom: 60px;
	 }
}
.digital-top__breadcrambs {
	@media(max-width: 575.98px) {
		font-size: 12px;
	}
}
.digital-top__title {
	font-weight: 300;
	font-size: 48px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 16px;
	margin-top: 94px;
	@media(max-width: 991.98px) {
		margin-top: 60px;
	}
	@media(max-width: 767.98px) {
		margin-top: 50px;
		font-size: 36px;
		margin-bottom: 14px;
	}
	@media(max-width: 575.98px) {
		margin-top: 35px;
		font-size: 32px;
		margin-bottom: 12px;
	}
}
.digital-top__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 440px;
	@media(max-width: 575.98px) {
		font-size: 14px;
	}
}

.digital-content__tabs {
	margin-top: 45px;
	@media(max-width: 991.98px) {
		margin-top: 30px;
	}
	@media(max-width: 575.98px) {
		margin-top: 25px;
	}
}
.tabs-digital__header {
	display: flex;
	justify-content: center;
	gap: 60px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	@media(max-width: 575.98px) {
		gap: 50px;
	}
}
.tabs-digital__header-item {
	font-weight: 300;
	font-size: 20px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #A7A7A7;
	padding-bottom: 22px;
	cursor: pointer;
	transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	@media(max-width: 991.98px) {
		padding-bottom: 15px;
		font-size: 18px;
	}
	@media(max-width: 575.98px) {
		font-size: 16px;
	}
}
.tabs-digital__header-item.active {
	position: relative;
	color: #373737;
	transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tabs-digital__header-item.active::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #000000;
	transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.tabs-digital__content-statics {
	margin-top: 40px;
	margin-bottom: 35px;
	@media(max-width: 991.98px) {
		margin-top: 30px;
		margin-bottom: 25px;
	}
	@media(max-width: 575.98px) {
		margin-top: 16px;
		margin-bottom: 24px;
	}
}
.tabs-digital__content-statics--text {
	margin: 0 auto;
	text-align: center;
	max-width: 550px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 38px;
	@media(max-width: 991.98px){
		margin-bottom: 28px;
	}
	@media(max-width: 575.98px) {
		font-size: 14px;
	}
}
.tabs-digital__content-sort--desktop {
	display: flex;
	justify-content: space-between;
	@media(max-width: 575.98px) {
		display: none;
	}
}
.tabs-digital__content-sort--mobile {
	@media(min-width: 575.98px) {
		display: none;
	}
}
.tabs-digital__content-sort-box {
	display: flex;
	justify-content: space-between;
}
.tabs-digital__content-sort--right {
	display: flex;
	gap: 25px;
}
.select__header {
	padding: 12px 32px;
	background-color: #F5F5F5;
	border-radius: 36px;
	display: flex;
	align-items:center;
	cursor: pointer;
	@media(max-width: 991.98px){
		padding: 8px 24px;
	}
}
.select__header_icon{
	font-size: 16px;
	margin-right: 16px;
}
.tabs-digital__content {
}
.tabs-digital__content-item {
}

.tabs-digital__pagination {
	margin-top: 45px;
	margin-bottom: 50px;
	@media(max-width: 767.98px) {
		margin-top: 30px;
		margin-bottom: 45px;
	}
	@media(max-width: 575.98px) {
		margin-top: 20px;
	}
}
.tabs-digital__pagination-list {
	display: flex;
}
.tabs-digital__pagination-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tabs-digital__pagination-item + .tabs-digital__pagination-item {
	margin-right: 13px;
	@media(max-width: 575.98px) {
		margin-right: 9px;
	}
}
.tabs-digital__pagination-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	background-color: #F5F5F5;
	border-radius: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #101423;
	transition: background-color .25s ease-in-out;
	@media(max-width: 575.98px) {
		width: 43px;
		height: 43px;
		font-size: 12px;
	}
}
.tabs-digital__pagination-link:hover {
	border: 1px solid #94C05B;
	background-color: #fff;
}
.tabs-digital__pagination-link--active {
	border: 1px solid #94C05B;
	background-color: #fff;
}
.icon-arrow-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.products__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	width: 100%;
	@media(max-width: 1099.98px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media(max-width: 991.98px) {
		gap: 15px;
	}
	@media(max-width: 767.98px) {
		grid-template-columns: repeat(1, 1fr);
	}
	@media(max-width: 575.98px) {
		gap: 13px;
	}
}

.products__item {
	position: relative;
	transition: all .25s ease-in-out;
}
.products__item:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, .08);
}
.products__item:hover .products__content-link {
	text-decoration: underline;
}
.products__image {
	position: relative;
}
.products__img {
	height: 257px;
	width: 100%;
	object-fit: cover;
	@media(max-width: 991.98px) {
		height: 220px;
	}
	@media(max-width: 767.98px) {
		height: 200px;
	}
	@media(max-width: 575.98px) {
		height: 161px;
	}
}
.products__play {
	position: absolute;
	bottom: 23px;
	right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background-color: #fff;
	@media(max-width: 575.98px) {
		width: 34px;
		height: 34px;
		bottom: 15px;
		right: 15px;
	}
}
.products__play_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
	@media(max-width: 575.98px) {
		font-size: 9px;
	}
}
.products__content {
	position: relative;
	border: 1px solid #EEEEEE;
	padding: 24px 30px 30px 30px;
	@media(max-width: 575.98px) {
		padding: 15px 20px 20px 20px;
	}
}
.products__content-link {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	text-transform: uppercase;
	color: rgba(55, 55, 55, .5);
	@media(max-width: 575.98px) {
		font-size: 12px;
	}
}
.products__content-link:hover {
	text-decoration: underline;
}
.products__content-title {
	margin-top: 8px;
	margin-bottom: 23px;
	font-weight: 300;
	font-size: 24px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	@media(max-width: 575.98px) {
		font-size: 22px;
		margin-top: 4px;
		margin-bottom: 10px;
	}
}
.products__content-box {
	display: flex;
	gap: 22px;
	margin-bottom: 19px;
	@media(max-width: 575.98px) {
		gap: 10px;
		margin-bottom: 13px;
	}
}
.products__content-box-list {
	display: flex;
	align-items:center;
	gap: 6px;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	text-transform: uppercase;
	color: #373737;
	@media(max-width: 575.98px) {
		font-size: 12px;
	}
}
.products__content-box-list_icon {
	font-size: 10px;
	@media(max-width: 575.98px) {
		font-size: 8px;
	}
}
.products__content-box-date {
	display: flex;
	align-items:center;
	gap: 6px;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	text-transform: uppercase;
	color: #373737;
	@media(max-width: 575.98px) {
		font-size: 12px;
		gap: 4px;
	}
}
.products__content-box-date_icon {
	font-size: 15px;
	@media(max-width: 575.98px) {
		font-size: 12px;
	}
}
.products__content-price-box {
	display: flex;
	gap: 7px;
}
.products__content-price-old {
	font-weight: 300;
	font-size: 16px;
	line-height: 134.88%;
	color: #8D8D8D;
	text-decoration: line-through;
	@media(max-width: 575.98px) {
		font-size: 14px;
	}
}
.products__content-price-current,
.products__content-price {
	font-weight: 400;
	font-size: 16px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	@media(max-width: 575.98px) {
		font-size: 14px;
	}
}

.products__content-basket {
	position: absolute;
	bottom: 30px;
	left: 30px;
	@media(max-width: 575.98px) {
		bottom: 20px;
		left: 20px;
	}
}
.products__content-basket-link {
	display: flex;
	justify-content: center;
	align-items:center;
	width: 61px;
	height: 61px;
	background-color: #F5F5F5;
	border-radius: 100%;
	transition: all .25s ease-in-out;
	@media(max-width: 575.98px) {
		width: 39px;
		height: 39px;
	}
}
.products__content-basket-link_icon {
	font-size: 20px;
	transition: all .25s ease-in-out;
	@media(max-width: 575.98px) {
		font-size: 16px;
	}
}
.products__content-basket-link:hover {
	background-color: #94C05B;
}
.products__content-basket-link:hover .products__content-basket-link_icon {
	color: #fff;
}
.products__content-discount {
	position: absolute;
	top: 24px;
	left: 30px;
	display: inline;
	padding: 6px 10px 5px 10px;
	background-color: #FFA73F;
	border-radius: 22px;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 134.88%;
	@media(max-width: 575.98px) {
		top: 15px;
		left: 20px;
		font-size: 12px;
		padding: 4px 8px 3px 8px;
	}
}


.course__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 28px;
	grid-row-gap: 46px;
	width: 100%;
	@media(max-width: 1199.98px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media(max-width: 991.98px) {
		grid-column-gap: 15px;
		grid-row-gap: 25px;
	}
	@media(max-width: 767.98px){
		grid-template-columns: repeat(1, 1fr);
	}
	@media(max-width: 575.98px){
		grid-gap: 16px;
	}
}
.course__item {
	position: relative;
	transition: all .25s ease-in-out;
}
.course__item:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, .08);
}
.course__item:hover .course__img {
	transform: scale(1.03);
}
.course__item:hover .course__content-link {
	text-decoration: underline;
}
.course__image {
	overflow: hidden;
}
.course__img {
	width: 100%;
	height: 458px;
	object-fit: cover;
	transition: all .25s ease-in-out;
	@media(max-width: 991.98px) {
		height: 400px;
	}
	@media(max-width: 575.98px) {
		height: 285px;
	}
}
.course__content {
	position: relative;
	border: 1px solid #EEEEEE;
	padding: 24px 30px 30px 30px;
	@media(max-width: 991.98px){
		padding: 15px 20px 20px 20px;
	}
}
.course__content-link {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	text-transform: uppercase;
	color: rgba(55, 55, 55, .5);
	@media(max-width: 767.98px) {
		font-size: 12px;
	}
	@media(max-width: 575.98px) {
		font-size: 10px;
	}
}
.course__content-title {
	margin-top: 8px;
	margin-bottom: 19px;
	font-weight: 300;
	font-size: 24px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	@media(max-width: 991.98px){
		margin-top: 6px;
		margin-bottom: 16px;
	}
	@media(max-width: 575.98px){
		font-size: 22px;
		margin-top: 4px;
		margin-bottom: 10px;
	}
}
.course__content-box {
	display: flex;
	align-items:center;
	gap: 23px;
	margin-bottom: 24px;
	@media(max-width: 991.98px){
		gap: 15px;
	}
	@media(max-width: 575.98px){
		margin-bottom: 10px;
	}
}
.course__content-date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	@media(max-width: 575.98px) {
		font-size: 12px;
	}
}
@media(max-width: 575.98px) {
	.course__content-date--desktop {
		display: none;
	}
}
@media(min-width: 575.98px) {
	.course__content-date--mobile {
		position: relative;
		display: none;
	}
}
.course__content-date span {
	font-weight: 400;
	margin-right: 5px;
	@media(max-width: 575.98px) {
		border-bottom: 1px solid  #94C05B;
	}
}
.course__content-date_icon {
	font-size: 14px;
}
.course__content-users {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	@media(max-width: 575.98px ) {
		display: none;
	}
}
.course__content-users_icon {
	font-size: 14px;
	margin-left: 8px;
}
.course__content-price {
	display: flex;
	align-items:center;
	font-weight: 400;
	font-size: 16px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	@media(max-width: 575.98px){
		font-size: 14px;
	}
}
.course__content-price_icon {
	margin-left: 10px;
	font-size: 16px;
	@media(max-width: 575.98px){
		font-size: 14px;
	}
}
.course__content-basket {
	position: absolute;
	bottom: 30px;
	left: 30px;
	@media(max-width: 575.98px){
		bottom: 20px;
		left: 20px;
	}
}
.course__content-basket-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 61px;
	background-color: #F5F5F5;
	border-radius: 100%;
	transition: all .25s ease-in-out;
	@media(max-width: 575.98px){
		width: 45px;
		height: 45px;
	}
}
.course__content-basket_icon-check,
.course__content-basket_icon {
	font-size: 20px;
	transition: all .25s ease-in-out;
	@media(max-width: 575.98px){
		font-size: 16px;
	}
}
.course__content-basket_icon-check {
	display: none;
}
.course__content-basket-link:hover {
	background-color: #94C05B;
}
.course__content-basket-link:hover .course__content-basket_icon{
	color: #ffffff;
}
.course__content-basket-link--checked {
	background-color: #94C05B;
}
.course__content-basket-link--checked .course__content-basket_icon-check {
	display: block;
	color: #ffffff;
}
.course__content-basket-link--checked .course__content-basket_icon {
	display: none;
}



//DIGITAL PRODUCT SALE 


//RESOURSE PAGE
.resourse__inner {
	margin-top: 65px;
}
.resourse-top {
	display: flex;
	margin-bottom: 125px;
}
.resourse-top-right {
	flex: 0 0 40%;
}
.resourse-top__breadcrambs {
	display: flex;
	font-weight: 300;
	font-size: 12px;
	line-height: 110%;
	color: #101423;
	margin-bottom: 24px;
}
.resourse-top__title {
	font-weight: 300;
	font-size: 48px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 24px;
}
.resourse-top__box {
	display: flex;
	align-items:center;
	gap: 22px;
	margin-bottom: 38px;
}
.resourse-top__list {
	display: flex;
	align-items:center;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: #373737;
}
.resourse-top__list_icon {
	font-size: 12px;
	margin-left: 6px;
}
.resourse-top__date {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	text-transform: uppercase;
	color: #373737;
}
.resourse-top__date_icon {
	font-size: 15px;
}
.resourse-top__price {
	font-weight: 300;
	font-size: 24px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 58px;
}
.resourse-top__btn {
	margin-bottom: 58px;
}
.resourse-top__btn-link {
	padding: 20px 112px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #94C05B;
	transition: all .25s ease-in-out;
}
.resourse-top__btn-link:hover {
	background-color: #7fa54e;
}
.resourse-top__category {
	max-width: 350px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.resourse-top__category-item {
	padding: 2px 15px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #373737;
	background-color: #F5F5F5;
	border-radius: 26px;
}
.resourse-top__image {
	position: relative;
}
.resourse-top__img {
	width: 824px;
	height: 540px;
	object-fit: cover;
}
.resourse-top__image-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: #fff;
}
.resourse-top__image-btn_icon {
	font-size: 16px;
	transition: all .25s ease-in-out;
}
.resourse-top__image-btn:hover .resourse-top__image-btn_icon{
	font-size: 20px;
}
.resourse-info {
	display: flex;
	gap: 120px;
	margin-top: 90px;
}
.resourse-content {
	margin-bottom: 125px;
}
.resourse-info__content,
.resourse-info__image {
	flex: 0 0 50%;
}
.resourse-info__img {
	width: 610px;
	height: 455px;
}
.resourse-info__title {
	font-weight: 300;
	font-size: 36px;
	line-height: 53px;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 29px;
}
.resourse-info__item {
	list-style-type: disc;
	max-width: 475px;
	margin-bottom: 37px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #373737;
	padding-right: 20px;
}

.slide-comments {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 100px;
}
.slide-comments__item {

}
.slide-comments__name {
	font-weight: 300;
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 12px;
}
.slide-comments__date {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 22px;
}
.slide-comments__rating {
	margin-bottom: 22px;
}
.slide-comments__message {
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
}

.resourse-slider__item {
	width: 100%;
}
.resourse-slider__image {
	position: relative;
}
.resourse-slider__img{
	width: auto;
	height: 257px;
	object-fit: cover;
}
.resourse-slider__play {
	position: absolute;
	bottom: 23px;
	right: 25px;
	display: flex;
	justify-content: center;
	align-items:center;
	width: 54px;
	height: 54px;
	background-color: #fff;
	border-radius: 100%;
}
.resourse-slider__play_icon {
	font-size: 11px;
}
.resourse-slider__content {
	border: 1px solid #EEEEEE;
	padding: 24px 30px 30px 30px;
}
.resourse-slider__content-link {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: #373737;
	opacity: 0.5;
}
.resourse-slider__content-title {
	margin-top: 8px;
	margin-bottom: 23px;
	font-weight: 300;
font-size: 24px;
line-height: 134.88%;
}
.resourse-slider__content-box {
	display: flex;
	align-items: center;
	gap: 22px;
	margin-bottom: 20px;
}
.resourse-slider__content-date,
.resourse-slider__content-list {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
}
.resourse-slider__content-list_icon {
	font-size: 11px;
	margin-left: 8px;
}
.resourse-slider__content-date_icon {
	font-size: 14px;
}
.resourse-slider__content-price {
	font-weight: 400;
	font-size: 16px;
	line-height: 134.88%;
}
.resourse-slider__content-basket {
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.resourse-slider__content-basket-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 61px;
	height: 61px;
	background-color: #F5F5F5;
	border-radius: 100%;
}
.resourse-slider__content-basket-link_icon {
	font-size: 20px;
}