/** ANIMATION STYLES start */
@keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
}
/** ANIMATION STYLES end */


/** ALL STYLES start */
.account {
	margin-top: 50px;
	display: flex;
}

.title {
	font-size: 36px;
	line-height: 110%;
	text-transform: uppercase;
	color: #373737;
}
/** ALL STYLES end */

/** RIGHT SIDEBAR MENU STYLES start */
.sidebar{
	max-width: 330px;
	width: 100%;
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	&__title {
		line-height: 110%;
		text-transform: capitalize;
		margin-bottom: 25px;
	}
	&-box {
		position: relative;
		margin-bottom: 49px;
	}
	&__points {
		max-width: 168px;
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		border: 1px solid #8DC349;
		border-radius: 30px;
		margin-bottom: 25px;
	}
	&__points-icon {
		position: absolute;
		top: 0;
		left: -23px;
		font-size: 14px;
		color: #A7A7A7;
		transition: all .2s ease-in-out;
	}
	&__points-icon:hover {
		color: #373737;
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items:center;
		background-color: #8DC349;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		padding: 9px 17px 9px 12px;
	}
	&__icon svg {
		width: 21px;
		height: 21px;
		path {
			fill: white;
		}
	}
	&__count {
		font-weight: 400;
		line-height: 134.88%;
		padding-right: 33px;
	}
	&__out {
		margin-bottom: 25px;
	}
	&__out-link {
		display: flex;
		justify-content: start;
		align-items: center;
		line-height: 134.88%;
		color: #A7A7A7;
		transition: all .2s ease-in-out;
	}
	&__out-link:hover {
		color: #373737; 
	}
	&__out-icon {
		font-size: 14px;
		padding-left: 11px;	
		color: #A7A7A7;
		transition: all .2s ease-in-out;
	}
	&__out-link:hover > .sidebar__out-icon {
		color: #373737; 
		transform: translateX(-4px);
	}
	&__referal {
		line-height: 134.88%;
		color: #101423;
		text-transform: none;
	}
	&__referal-link {
		font-weight: 400;
		text-decoration-line: underline;
		color: #373737;
		margin-right: 6px;
		transition: all .2s ease-in-out;
	}
	&__referal-icon {
		font-size: 14px;
		margin-right: 4px;
		color: #373737;
	}
	&__link-item {
		margin-bottom: 25px;
	}
	&__link {
		font-size: 24px;
		line-height: 134.88%;
		color: #A7A7A7;
		transition: all .2s ease-in-out;
	}
	&__link:hover {
		color: #373737;
	}
	&__link--active {
		color: #373737;
	}
}
/** RIGHT SIDEBAR MENU STYLES end*/



/** ORDER HISTORY STYLES start*/
.order {
	display: flex;
	max-width: 824px;
	width: 100%;
	&__title {
		margin-bottom: 69px;
	}
}

.order-top {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows:repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	align-items: center;
	padding-bottom: 14px;
	border-bottom: 1px solid #ECECEC;
	}

.order-top__item {
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #868686;
}

.order-top__item4 { grid-area: 1 / 4 / 2 / 6; }
.order-top__item3 { grid-area: 1 / 3 / 2 / 4; }
.order-top__item2 { grid-area: 1 / 2 / 2 / 3; }
.order-top__item1 { grid-area: 1 / 1 / 2 / 2; }

.accord {
	.accord__item {
		border-bottom: 1px solid #ECECEC;
		&.accord__active {
			.accord__content {
				display: block;
				transition: .3s all ease;
			}
			.trigger__icon{
				transform: rotate(90deg);
				transition: .2s all ease;
			}
		}

		.accord__trigger {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: 1fr;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			align-items: center;
			padding: 28px 0;
			border-bottom: 1px solid #ECECEC;
			.trigger__price,
			.trigger__date,
			.trigger__id {
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: #373737;
			}
			
			.trigger__category {
				font-weight: 400;
				font-size: 14px;
				line-height: 21px;
				text-transform: uppercase;
				color: #1E8E29;
				padding: 6px 35px 8px 35px;
				background: rgba(148, 192, 91, .2);
				border-radius: 29px;
			}
			
			.trigger__category--red {
				color: #DD6915;
				background-color: rgba(250, 169, 95, .2);
			}
			
			.trigger__icon {
				transition: .2s all ease;
				justify-self: end;
			}
		}

		.accord__content {
			display: none;
			animation: fade .3s ease;
			.content-top {
				display: grid;
				grid-template-columns: 2.2fr repeat(4, 1fr);
				grid-template-rows: 1fr;
				grid-column-gap: 0px;
				grid-row-gap: 0px;
				align-items: center;
				padding: 29px 0 20px 0;
			}
			
			.content-top__name{
				padding-right: 62px;
			}
			
			.content-top__name,
			.content-top__id,
			.content-top__price,
			.content-top__count,
			.content-top__allprice {
				font-weight: 300;
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;
				color: #868686;
			}
			
			.content {
				display: grid;
				grid-template-columns: 2.2fr repeat(4, 1fr);
				grid-template-rows: 1fr;
				grid-column-gap: 0px;
				grid-row-gap: 0px;
				align-items: center;
				margin-bottom: 29px;
			}
			
			.content__link {
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			
			.content__img {
				margin-left: 14px;
			}
			
			.content__text {
				font-weight: 300;
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;
				color: #373737;
			}
			
			.content__allprice,
			.content__count,
			.content__price,
			.content__id {
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				text-align: right;
				color: #1B1B1B;
			}
		}
	}
}
/** ORDER HISTORY STYLES end*/


/** KART ACADEMY STYLES start*/
.academy {
	max-width: 824px;
	width: 100%;
	&__title {
		margin-bottom: 45px;
	}
}

.tabs {
	&__header {
		display: flex;
		justify-content: flex-start;
		position: relative;
		border-bottom: 1px solid #ECECEC;
	}
	&__header-item {
		display: block;
		position: relative;
		font-weight: 300;
		font-size: 24px;
		line-height: 134.88%;
		color: #A7A7A7;
		padding: 0 10px;
		cursor: pointer;
		&.active {
			color: #101423;
			padding-bottom: 15px;
			border-bottom: 1px solid #101423;
		}
	}
	&__header-item + .tabs__header-item {
		margin-right: 15px;
	}
	&__content {
		margin-top: 45px;
	}
}

.blogs {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.blog {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ECECEC;
	&:last-child {
		border-bottom: none;
	}
	&__inner {
		display: flex;
		justify-content: space-between;

	}
	&__box {
		display: flex;
	}
	&__pic {
		margin-left: 30px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:flex-start;
	}
	&__info-link {
		font-size: 12px;
		line-height: 18px;
		padding: 3px 20px;
		background: #F5F5F5;
		border-radius: 26px;
		transition: all .2s ease;
	}
	&__info-link:hover {
		background: #d8d8d8;
	}
	&__info-title {
		font-size: 24px;
		line-height: 35px;
		margin-top: 13px;
		margin-bottom: 32px;
	}
	&__info-date {
		display: flex;
		align-items: center;
		line-height: 21px;
		color: #868686;
	}
	&__info-icon {
		font-size: 14px;
	}
	&__arrow-img {
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
	}
}

.videos {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.video {
	border-bottom: 1px solid #ECECEC;
	&__top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__subtitle {
		font-size: 12px;
		line-height: 18px;
		padding: 3px 20px;
		background: #F5F5F5;
		border-radius: 26px;
		transition: all .2s ease;
		cursor: pointer;
	}
	&__subtitle:hover {
		background: #d8d8d8;
	}
	&__title {
		font-weight: 300;
		font-size: 24px;
		line-height: 134.88%;
		color: #101423;
		margin: 6px 0 0 0;
		transition: all .2s ease;
	}
	&__title:hover {
		color: #4d4d4d;
	}
	&__box {
		width: 100%;
		margin-bottom: 24px;
		padding-top: 24px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items:center;
	}
	&__inner {
		display: flex;
		justify-content: center;	
		align-items:center;
	}
	&__play {
		position: relative;
		margin-left: 30px;
	}
	&__name {
		font-size: 24px;
		line-height: 35px;
		margin-bottom: 13px;
	}
	&__date {
		display: flex;
		align-items: center;
		line-height: 21px;
		color: #868686;
	}
	&__date-icon {
		font-size: 14px;
	}
	&__icon {
		transform: rotate(45deg);
	}
}
/** KART ACADEMY STYLES end*/


/** FAVORITE PRODUCTS STYLES start */
.products-box {
	max-width: 824px;
	width: 100%;
	&__title {
		margin-bottom: 54px;
	}
}

.products-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #ECECEC;
}

.product-items {
	position: relative;
	font-weight: 300;
	font-size: 16px;
	line-height: 110%;
	text-transform: uppercase;
	color: #373737;
}

.products-item-counter {
	display: inline-block;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #94C05B;
	padding: 1px 8px;
	border-radius: 100%;
	margin-left: 9px;
}


.products-btn-close {
	line-height: 21px;
	color: #000000;
	transition: all .2s ease;
	cursor: pointer;
}

.products-btn-close:hover > .products-top-icon{
	color: #000000;
}

.products-top-icon {
	font-size: 11px;
	color: #A7A7A7;
	margin-right: 12px;
	transition: all .2s ease;
}

.products-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 47px;
}

.products-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	max-width: 254px;
	width: 100%;
	cursor: pointer;
}

.products-card__img {
	padding: 25px 25px 17px 25px;
}

.products-card__subtitle {
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #A7A7A7;
	margin-bottom: 5px;
}

.products-card__title {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 5px;
}

.products-card__price {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;text-transform: uppercase;
	color: #373737;
	margin-bottom: 22px;
}

.products-card-heart-blank {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	margin: 4px;
	color:  #A7A7A7;
	transition: all .2s ease;
	cursor: pointer;
}

.products-card-heart-blank:hover {
	color: #000000;
}

.products-btn {
	margin-top: 49px;
}

.products-btn__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 20px 45px;
	background-color: #8DC449;
	transition: all .2s ease;
}

.products-btn__link:hover {
	background-color: #729d3e;
}
/** FAVORITE PRODUCTS STYLES end */



/** INFORMATION ABOUT OUTLETS + COUPONS STYLES start */
.parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }


.parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 3; }
	.div3 { grid-area: 1 / 3 / 2 / 4; }
	.div4 { grid-area: 1 / 4 / 2 / 5; }
	.div5 { grid-area: 2 / 1 / 3 / 2; }
	.div6 { grid-area: 2 / 2 / 3 / 3; }
	.div7 { grid-area: 2 / 3 / 3 / 4; }
	.div8 { grid-area: 2 / 4 / 3 / 5; }
	.div9 { grid-area: 3 / 1 / 4 / 2; }
	.div10 { grid-area: 3 / 2 / 4 / 3; }
	.div11 { grid-area: 3 / 3 / 4 / 4; }
	.div12 { grid-area: 3 / 4 / 4 / 5; }
	.div13 { grid-area: 4 / 1 / 5 / 2; }
	.div14 { grid-area: 4 / 2 / 5 / 3; }
	.div15 { grid-area: 4 / 3 / 5 / 4; }
	.div16 { grid-area: 4 / 4 / 5 / 5; }
	.div17 { grid-area: 5 / 1 / 6 / 2; }
	.div18 { grid-area: 5 / 2 / 6 / 3; }
	.div19 { grid-area: 5 / 3 / 6 / 4; }
	.div20 { grid-area: 5 / 4 / 6 / 5; }
	.div21 { grid-area: 6 / 1 / 7 / 2; }
	.div22 { grid-area: 6 / 2 / 7 / 3; }
	.div23 { grid-area: 6 / 3 / 7 / 4; }
	.div24 { grid-area: 6 / 4 / 7 / 5; }
	.div25 { grid-area: 7 / 1 / 8 / 2; }
	.div26 { grid-area: 7 / 2 / 8 / 3; }
	.div27 { grid-area: 7 / 3 / 8 / 4; }
	.div28 { grid-area: 7 / 4 / 8 / 5; }
	.div29 { grid-area: 8 / 1 / 9 / 2; }
	.div30 { grid-area: 8 / 2 / 9 / 3; }
	.div31 { grid-area: 8 / 3 / 9 / 4; }
	.div32 { grid-area: 8 / 4 / 9 / 5; }
	.div33 { grid-area: 9 / 1 / 10 / 2; }
	.div34 { grid-area: 9 / 2 / 10 / 3; }
	.div35 { grid-area: 9 / 3 / 10 / 4; }
	.div36 { grid-area: 9 / 4 / 10 / 5; }
	.div37 { grid-area: 10 / 1 / 11 / 2; }
	.div38 { grid-area: 10 / 2 / 11 / 3; }
	.div39 { grid-area: 10 / 3 / 11 / 4; }
	.div40 { grid-area: 10 / 4 / 11 / 5; }

/** INFORMATION ABOUT OUTLETS + COUPONS STYLES end */