html:has(.reviews-page) {
   margin-right: calc(-1 * (100vw - 100%));
}
//Components========================================================================================================================================================
.review-diamonds {
   background-color: #e5e5e5;
   font-size: 12px;
   padding: 2px 5px;
   color: #101423;
   display: flex;
   gap: 5px;
   align-items: center;
   justify-content: center;

   img {
      width: 14px;
   }

   &._gold {
      background-color: #fdda9e;
   }
   &._green {
      background-color: rgba(147, 192, 91, 0.3);
      padding-right: 32px;
      &:after {
         position: absolute;
         content: url('../images/review/icons/check.svg');
         display: block;
         width: 10px;
         height: 9px;
         top: 50%;
         right: 10px;
         transform: translateY(-100%);
      }
   }
}
.review-status-order {
   font-size: 12px;
   font-weight: 100;
   display: flex;
   align-items: center;
   gap: 7px;
   justify-content: flex-end;
   padding: 0 8px;
   @media (max-width: 767px) {
      padding: 0;
   }
   &._green {
      color: #29cb89;
   }
   &._yellow {
      color: #fcb131;
   }
   &._red {
      color: #ed1b2d;
   }

   &__text {
      color: currentColor;
      @media (max-width: 767px) {
         width: 100%;
      }
      span {
         font-size: 9px;
      }
   }
   &__mark {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      display: block;
      min-width: 4px;
      background: currentColor;
   }
}
.reviews-tabs {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100%;
   &__head {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: -0.32px;
      border-bottom: 1px solid #ececec;
      color: #a7a7a7;
      width: 100%;
      border-bottom: 1px solid #ececec;
      @media (max-width: 767px) {
         font-size: 16px;
      }
      @media (max-width: 479px) {
         font-size: 14px;
      }
   }

   &__button {
      position: relative;
      transition: all 0.1s ease-in 0s;
      padding-bottom: 22px;
      &._active-tab-button {
         color: #373737;
         &::after {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #101423;
            bottom: -1px;
            left: 0;
         }
      }

      @media (max-width: 992px) {
         padding-bottom: 15px;
      }

      &:not(:last-child) {
         margin-left: 34px;
         @media (max-width: 479px) {
            margin-left: 14px;
         }
      }
   }

   &__body {
      width: 100%;
   }

   &__body-item {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      display: none;
      &._active-tab-body {
         display: flex;
      }
   }
}
.review-feedback {
   width: 100%;
   &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0 12px 0;
      width: 100%;
      border-bottom: 1px solid #ececec;
      cursor: pointer;
      > * {
         pointer-events: none;
      }
      @media (max-width: 992px) {
         display: grid;
         grid-template-columns: 70px auto 1fr auto;
         grid-template-rows: repeat(2, 1fr);
         align-items: start;
      }
      @media (max-width: 479px) {
         grid-template-columns: 54px auto 1fr auto;
      }
   }
   &__image {
      width: 65px;
      height: 65px;
      flex: 0 0 8%;
      @media (max-width: 1200px) {
         flex: 0 0 11%;
      }
      @media (max-width: 992px) {
         width: 55px;
         height: 55px;
         grid-area: 1 / 1 / 3 / 2;
      }

      @media (max-width: 767px) {
         width: 54px;
         height: 54px;
      }
      @media (max-width: 479px) {
         width: 48px;
         height: 48px;
      }

      img {
         width: 65px;
         height: 65px;

         @media (max-width: 992px) {
            width: 55px;
            height: 55px;
         }
         @media (max-width: 767px) {
            width: 54px;
            height: 54px;
         }
         @media (max-width: 479px) {
            width: 48px;
            height: 48px;
         }
      }
   }

   &__number {
      font-size: 14px;
      flex: 0 0 23%;
      margin-left: 2%;

      @media (max-width: 1200px) {
         flex: 0 0 17%;
      }

      @media (max-width: 992px) {
         grid-area: 1 / 2 / 2 / 3;
         margin-left: 0;
      }

      @media (max-width: 767px) {
         font-weight: 400;
      }
   }

   &__date {
      font-size: 14px;
      color: #8d8d8d;
      flex: 0 0 12%;

      @media (max-width: 1200px) {
         flex: 0 0 11%;
         margin-right: 4px;
      }

      @media (max-width: 992px) {
         grid-area: 2 / 2 / 3 / 4;
         margin-right: 0;
         align-self: center;
      }

      @media (max-width: 479px) {
         font-size: 12px;
      }
   }

   &__diamonds {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 36%;

      @media (max-width: 1200px) {
         flex: 0 0 36%;
      }

      @media (max-width: 992px) {
         grid-area: 2 / 4 / 3 / 5;
         align-self: flex-end;
      }

      @media (max-width: 479px) {
         align-self: end;
      }
   }

   &__amount {
      color: #fff;
      font-size: 10px;
      font-weight: 400;
      line-height: normal;
      flex: 0 0 10.5%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 2%;

      @media (max-width: 1200px) {
         flex: 0 0 12%;
      }

      @media (max-width: 992px) {
         justify-content: flex-start;
         grid-area: 1 / 3 / 2 / 4;
         align-self: baseline;
      }

      span {
         padding: 0px 6px;
         height: 18px;
         line-height: 100%;
         background-color: #93c05b;
         border-radius: 20px;
         display: flex;
         align-items: center;
         justify-content: center;
         @media (max-width: 992px) {
            margin-right: 6px;
         }
      }
   }

   &__arrow {
      flex: 0 0 6.5%;
      display: flex;
      justify-content: flex-end;
      transition: all 0.3s ease 0s;
      ._active-spoiler & {
         transition: all 0.3s ease 0s;
         rotate: x -180deg;
      }
      @media (max-width: 1200px) {
         flex: 0 0 9%;
      }

      @media (max-width: 992px) {
         margin-top: 7px;
         justify-content: flex-end;
         grid-area: 1 / 4 / 2 / 5;
      }
   }

   &__body {
      transition: all 0.5s ease 0s;
      height: 0;
      overflow: hidden;
      scrollbar-width: thin;
      scrollbar-color: #c4c4c4 transparent;

      &::-webkit-scrollbar {
         width: 3px;
      }
      &::-webkit-scrollbar-track {
         background: transparent;
      }
      &::-webkit-scrollbar-thumb {
         border-left: 3px solid #c4c4c4;
      }
      ._active-spoiler & {
         overflow-y: scroll;
         transition: all 0.5s ease 0s;
      }
   }
}
.review-new-feetback {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 9px 0;
   width: 100%;
   border-bottom: 1px solid #ececec;
   @media (max-width: 992px) {
      display: grid;
      padding: 12px 0px 10px 4px;
      grid-template-columns: 70px 1fr 1fr;
      grid-template-rows: auto auto auto 1fr;
      align-items: flex-start;
      padding: 12px 0;
   }
   @media (max-width: 479px) {
      grid-template-columns: 54px 1fr 1fr;
   }

   &__image {
      width: 70px;
      height: 70px;
      flex: 0 0 8%;
      img {
         width: 70px;
         height: 70px;
         @media (max-width: 992px) {
            height: auto;
            width: 54px;
         }
      }
      @media (max-width: 1200px) {
         flex: 0 0 11%;
      }
      @media (max-width: 992px) {
         width: 54px;
         height: 54px;
         grid-area: 1 / 1 / 4 / 2;
      }
      @media (max-width: 479px) {
         width: 48px;
         height: 48px;
      }
   }

   &__name {
      font-size: 14px;
      flex: 0 0 23%;
      margin-left: 2%;

      @media (max-width: 1200px) {
         flex: 0 0 17%;
      }

      @media (max-width: 992px) {
         grid-area: 1 / 2 / 2 / 4;
      }
   }

   &__date {
      color: #8d8d8d;
      font-size: 14px;
      flex: 0 0 13%;

      @media (max-width: 1200px) {
         flex: 0 0 12%;
         margin-right: 4px;
      }

      @media (max-width: 992px) {
         grid-area: 3 / 2 / 4 / 3;
         align-self: center;
      }
      @media (max-width: 479px) {
         font-size: 12px;
      }
   }

   &__status {
      flex: 0 0 23%;

      @media (max-width: 1200px) {
         flex: 0 0 23%;
      }

      @media (max-width: 992px) {
         align-self: center;
         grid-area: 2 / 2 / 3 / 4;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         padding: 0;
      }
   }

   &__diamonds {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 12%;
      @media (max-width: 1200px) {
         flex: 0 0 12%;
      }
      @media (max-width: 992px) {
         grid-area: 3 / 3 / 4 / 4;
      }
   }

   &__message {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 17%;
      margin-right: 2%;
      > * {
         pointer-events: none;
      }
      @media (max-width: 1200px) {
         flex: 0 0 21%;
      }

      @media (max-width: 992px) {
         align-self: end;
         justify-content: center;
         grid-area: 4 / 1 / 5 / 4;
      }
   }
   &__label {
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      margin-left: 12px;
      @media (max-width: 992px) {
         display: none;
      }
   }

   &__button {
      width: 47px;
      height: 47px;
      background-color: #f3f3f3;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 992px) {
         width: 50%;
         border-radius: 56px;
         height: 36px;
      }

      @media (max-width: 479px) {
         width: 100%;
         margin-top: 26px;
      }

      span {
         display: none;
         @media (max-width: 992px) {
            display: block;
            font-weight: 400;
            font-size: 14px;
         }
         @media (max-width: 479px) {
            font-size: 12px;
         }
      }

      img {
         @media (max-width: 992px) {
            margin-right: 12px;
         }
      }
   }
}
.review-edit-feetback {
   position: relative;
   padding-left: 175px;
   padding-bottom: 39px;

   &:first-child {
      padding-top: 29px;

      @media (max-width: 479px) {
         padding-top: 11px;
      }
   }

   &:last-child {
      border-bottom: 1px solid #ececec;
   }

   @media (max-width: 767px) {
      padding-left: 50px;
   }

   @media (max-width: 479px) {
      padding-left: 0;
      padding-bottom: 11px;
   }

   &__wrapper {
      display: flex;
      align-items: flex-start;
   }

   &__image {
      width: 70px;
      height: 70px;
      flex: 0 0 11%;

      @media (max-width: 479px) {
         width: 48px;
         height: 48px;
      }

      img {
         max-width: none;
         width: 70px;
         height: 70px;

         @media (max-width: 479px) {
            width: 48px;
            height: 48px;
         }
      }
   }

   &__item {
   }

   &__name {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;

      @media (max-width: 479px) {
         padding-left: 42px;
         margin-bottom: 8px;
      }
   }

   &__info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;
   }

   &__diamond {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 34px;
   }

   &__status {
   }

   &__text {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 16px;

      @media (max-width: 479px) {
         font-size: 12px;
         margin-bottom: 24px;
      }
   }

   &__photos {
      display: flex;
      margin-right: 11%;
      align-items: center;
      justify-content: flex-start;

      @media (max-width: 992px) {
         margin-right: 0px;
      }
   }

   &__photo {
      width: 95px;
      height: 95px;
      margin-left: 8px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media (max-width: 767px) {
         width: 90px;
         height: 71px;
      }
   }
   &__correct {
      position: absolute;
      top: 39px;
      left: 0;
      width: 47px;
      height: 47px;
      background-color: #f3f3f3;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      > * {
         pointer-events: none;
      }
      @media (max-width: 479px) {
         top: 12px;
         width: 24px;
         height: 24px;
      }

      img {
         @media (max-width: 479px) {
            width: 12px;
            height: 12px;
         }
      }
   }
}
.review-empty-tab {
   margin: 0 auto;
   padding: 156px 0;
   align-items: center;
   justify-content: center;

   @media (max-width: 992px) {
      padding: 144px 0;
   }

   @media (max-width: 767px) {
      padding: 136px 0;
   }

   @media (max-width: 479px) {
      padding: 124px 0;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__image {
      width: 107px;
      height: 107px;
   }

   &__text {
      font-size: 16px;
      line-height: 134.875%;
      margin-top: 34px;
   }
}
//Page========================================================================================================================================================
.reviews-page {
   display: flex;
   align-items: flex-start;
   text-align: right;
   font-family: inherit;
   font-style: normal;
   font-weight: 300;
   text-transform: uppercase;
   padding-top: 45px;
   @media (max-width: 767px) {
      flex-direction: column;
   }
   @media (max-width: 479px) {
      padding-top: 29px;
   }

   &__content {
      display: flex;
      width: 100%;
      justify-content: center;
   }
   &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 824px;
      @media (max-width: 575px) {
         padding-top: 29px;
      }
      @media (max-width: 479px) {
         padding-bottom: 48px;
      }
   }

   &__title {
      font-size: 36px;
      line-height: 110%;
      margin-bottom: 44px;

      @media (max-width: 1200px) {
         font-size: 34px;
         margin-bottom: 32px;
      }

      @media (max-width: 992px) {
         font-size: 30px;
         margin-bottom: 28px;
      }

      @media (max-width: 767px) {
         font-size: 26px;
         margin-bottom: 22px;
      }
      @media (max-width: 479px) {
         font-size: 24px;
         margin-bottom: 16px;
      }
   }
}
//Popups========================================================================================================================================================
//1.Общие стили для попапов
.review-popup {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1000;
   width: 100%;
   height: 100dvh;
   overflow: hidden;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease 0s;
   &._popup-open {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease 0s;
   }
   &__body {
      min-height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.29);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px;
      @media (max-width: 479px) {
         padding: 0;
      }
   }

   &__content {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: calc(100dvh - 40px);
      max-width: 450px;
      width: 100%;
      padding: 40px 50px;
      transform: scale(0);
      transition: all 0.3s ease 0s;
      background-color: #fff;
      @media (max-width: 479px) {
         padding: 32px 16px;
         max-height: 100dvh;
      }
      ._popup-open & {
         transform: scale(1);
         transition: all 0.3s ease 0s;
      }
   }

   &__close-button {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      > * {
         pointer-events: none;
      }
   }
   &__action-button {
      background-color: #94c05b;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      width: 100%;
   }
}
//2.Стили для попапа редактирования
.review-edit-popup {
   .review-popup__body {
      @media (max-width: 479px) {
         align-items: flex-end;
      }
   }
   &__title {
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;

      @media (max-width: 479px) {
         width: 100%;
      }
   }

   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;
      width: 100%;

      &._row-title {
         border-top: 1px solid #ebebeb;
         border-bottom: 1px solid #ebebeb;
      }

      @media (max-width: 479px) {
         padding: 8px 0;
      }
   }

   &__product {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__image {
      width: 40px;
      height: 40px;
      @media (max-width: 479px) {
         width: 40px;
         height: 40px;
      }
   }

   &__name {
      font-size: 13px;
      padding-left: 5px;
   }

   &__diamonds {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .diamonds-wrapper {
         img {
            margin-left: 4px;
            margin-right: 0;
         }
      }
   }

   &__text {
      font-size: 12px;
      font-weight: 400;
      color: #8b8b8b;
   }

   &__load {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;

      @media (max-width: 479px) {
         margin-bottom: 16px;
         width: 100%;
      }
   }

   &__load-images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   &__load-image {
      position: relative;
      background-color: #f7f7f7;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      width: 343px;
      height: 195px;

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__inputs {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed #a7a7a7;
      padding: 41px 71px 74px 71px;
      width: 100%;
      position: relative;

      &._hide {
         display: none;
      }

      @media (max-width: 479px) {
         padding: 32px 44px 66px 44px;
      }
   }

   &__input-wrapper {
      width: 100%;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child {
         margin-left: 20px;
         order: 2;
      }
      &:nth-child(2) {
         order: 3;
         margin-right: 20px;
      }
   }

   &__file-icon-wrapper {
      height: 80px;
      width: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #f5f5f5;
      border-radius: 50%;
      cursor: pointer;
   }

   &__file-icon {
   }

   &__input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
   }

   &__description-inside {
      color: #8b8b8b;
      font-size: 12px;
      line-height: 150%;
      position: absolute;
      bottom: 39px;
      left: 50%;
      transform: translate;
      transform: translateX(-50%);
      width: 75%;
      text-align: center;
      z-index: 100;

      @media (max-width: 479px) {
         bottom: 32px;
      }
   }

   &__inputs._on-img {
      padding: 16px 20px;

      .review-edit-popup__file-icon-wrapper {
         width: 48px;
         height: 48px;
      }

      .review-edit-popup__description-inside {
         position: relative;
         top: 0;
         left: 0;
         transform: translateX(0);
         width: 100%;
         text-align: right;
      }

      .review-edit-popup__input-wrapper {
         width: auto;
         margin: 0px;

         &:last-child {
            margin: 0 9px;
         }
      }
   }

   &__feedback {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__comment {
      border: 1px solid rgba(0, 0, 0, 0.12);
      width: 100%;
      min-height: 176px;
      padding: 13px 14px;
      margin-bottom: 14px;
      color: #373737;
      font-size: 15px;

      &::placeholder {
         color: #8b8b8b;
         font-size: 13px;
      }

      @media (max-width: 479px) {
         margin-top: 6px;
         min-height: 82px;
      }
   }

   &__progressbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 15px;
      line-height: 150%;
      margin-bottom: 32px;

      @media (max-width: 479px) {
         margin-bottom: 24px;
      }
   }

   &__progress {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }

   &__progresstext {
   }

   &__percent {
   }

   &__progressline {
      border-radius: 15px;
      background: #c4c4c4;
      height: 4px;
      position: relative;
      width: 100%;
   }

   &__progressthumb {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #8dc349;
      height: 100%;
      z-index: 10;
   }

   &__button {
      padding: 19px 0;
      width: 100%;

      @media (max-width: 479px) {
         padding: 14px 0;
      }
   }
}
//3.Стили для попапа подтверждения
.review-exit-popup {
   z-index: 1001;
   .review-popup__body {
      @media (max-width: 479px) {
         padding: 0 10px;
      }
   }
   .review-popup__content {
      max-width: 415px;
      @media (max-width: 479px) {
         padding: 32px 16px 16px 16px;
      }
   }
   &__ask {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 39px;

      @media (max-width: 479px) {
         margin-bottom: 24px;
      }
   }

   &__question {
      font-size: 24px;
      padding: 0 28px;
      margin-bottom: 16px;
      text-align: center;
      @media (max-width: 479px) {
         font-size: 20px;
         padding: 0 19px;
      }
   }

   &__desc {
      font-size: 14px;

      @media (max-width: 479px) {
         font-size: 12px;
      }
   }

   &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }

   &__button {
      padding: 13px 47px;
      font-weight: 500;

      &_next {
         background-color: #94c05b;
         color: #ffffff;
         font-size: 14px;
         font-weight: 500;
         line-height: normal;
         text-align: center;
      }

      &_back {
         color: #373737;
         font-weight: 500;
         border: 1px solid #94c05b;
         font-size: 14px;
         padding: 10px 47px;
      }
   }
}
//4.Стили для попапа об успешном редактировании
.review-success-popup {
   .review-popup__content {
      padding: 125px 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      @media (max-width: 479px) {
         padding: 128px 16px 16px 16px;
      }
   }
   &__icon {
      width: 100px;
      height: 100px;
      min-width: 100px;
      margin: 0px auto 22px;

      @media (max-width: 479px) {
         width: 64px;
         height: 64px;
         min-width: 64px;
         margin-bottom: 12px;
      }
   }

   &__text {
      font-size: 20px;
      line-height: normal;
      margin-bottom: 25px;
      text-align: center;
      width: 75%;

      @media (max-width: 479px) {
         margin-bottom: 120px;
      }
   }

   &__button {
      display: block;
      padding: 11px 71px;
      background-color: #94c05b;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      max-width: 170px;
      margin: auto;
      width: 100%;
      @media (max-width: 479px) {
         width: 100%;
         padding: 13px 0;
         max-width: 100%;
      }
   }
}
