.search {
	margin-top: 76px;
}
.search-section--top {
	margin-bottom: 100px;
}
.search-section--two {
	margin-bottom: 120px;
}
.search-section--three {
	margin-bottom: 160px;
}
.search-text,
.search-title {
	font-weight: 300;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
}
.search-title {
	font-size: 24.5px;
	margin-bottom: 17px;
}
.search-text {
	font-size: 14px;
	margin-bottom: 50px;
}
.search-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 50px;
	margin-bottom: 65px;
}
.search-item {
	position: relative;
	transition: all .25s ease-in-out;
	overflow: hidden;
	cursor: pointer;
}
.search-item:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, .08);
}
.search-item:hover .search-item__img {
	transform: scale(1.02);
}
.search-item:hover .search-hide__box {
	bottom: 50%;
}
.search-item__link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.search-hide__box {
	position: absolute;
	bottom: -150%;
	left: 50%;
	transform: translate(-50%, 50%);
	display: flex;
	gap: 20px;
	transition: all .25s ease-in-out;
}
.search-hide__box-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 61px;
	height: 61px;
	border-radius: 100%;
	background-color: #F5F5F5;
}
.icon-heart-blank {
	font-size: 18px;
	transition: all .25s ease-in-out;
}
.search-hide__box-item:hover {
	background-color: #94C05B;
	transition: all .25s ease-in-out;
}
.search-hide__box-item:hover .icon-heart-blank,
.search-hide__box-item:hover .icon-cart {
	color: #fff;
}
.search-item__image {
	width: 162px;
	height: 162px;
	object-fit: cover;
	margin-left: 28px;
}
.search-item__img {
	transition: all .25s ease-in-out;
}
.search-item__content-link {
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #A7A7A7;
	transition: all .25s ease-in-out;
}
.search-item__content-link:hover {
	text-decoration: underline;
}
.search-item__content-title {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	margin: 12px 0;
	color: #373737;
}
.search-item__content-price {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #373737;
}
.search-section__btn {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #373737;
	padding: 18px 49px 17px 49px;
	border: 1px solid #94C05B;
	transition: all .25s ease-in-out;
}
.search-section__btn:hover {
	background-color: #94C05B;
	color: #fff;
}


.services-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	margin-bottom: 40px;
}
.services-item {
	background-color: #fff;
	transition: all .25s ease-in-out;
}
.services-item:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, .08);
}
.services-item:hover .services-item__img {
	transform: scale(1.03);
}
.services-item__image {
	overflow: hidden;
}
.services-item__img {
	height: 458px;
	object-fit: cover;
	transition: all .25s ease-in-out;
}
.services-item__content {
	position: relative;
	border: 1px solid #EEEEEE;
	padding: 24px 30px 30px 30px;
}
.services-item__content-link {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: rgba(55, 55, 55, .5);
	text-transform: uppercase;
	margin-bottom: 8px;
}
.services-item__content-link:hover {
	text-decoration: underline;
}
.services-item__content-title {
	font-weight: 300;
	font-size: 24px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 19px;
}
.services-item__content-box {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}
.services-item__content-date {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	margin-left: 23px;
}
.services-item__content-date span {
	font-weight: 400;
}
.icon-person,
.icon-clock {
	font-size: 14px;
	margin-left: 6px;
}
.icon-person {
	margin-left: 8px;
}
.icon-ticket {
	font-size: 16px;
	margin-left: 10px;
}
.services-item__content-users {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	text-transform: uppercase;
	color: #373737;
}
.services-item__content-price {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
}
.services-item__basket {
	position: absolute;
	bottom: 30px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 61px;
	height: 61px;
	border-radius: 100%;
	background-color: #F5F5F5;
	transition: all .25s ease-in-out;
}
.services-item__basket:hover {
	background-color: #94C05B;
}
.services-item__basket:hover .icon-cart {
	color: #fff;
}
.services-item__basket-link {
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-cart {
	font-size: 20px;
	transition: all .25s ease-in-out;
}



.recorded-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	margin-bottom: 40px;
}
.recorded-item {
	background-color: #fff;
	transition: all .25s ease-in-out;
}
.recorded-item:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, .08);
}
.recorded-item:hover .recorded-item__img {
	transform: scale(1.03);
}
.recorded-item__image {
	position: relative;
	overflow: hidden;
}
.recorded-item__img {
	width: auto;
	height: 257px;
	object-fit: cover;
	transition: all .25s ease-in-out;
} 
.recorded-item__btn-play {
	position: absolute;
	bottom: 23px;
	right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: #fff;
	border-radius: 100%;
}
.icon-triangle-fill {
	font-size: 12px;
}
.recorded-item__content {
	position: relative;
	border: 1px solid #EEEEEE;
	padding: 24px 30px 30px 30px;
}
.recorded-item__content-link {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: rgba(55, 55, 55, .5);
	text-transform: uppercase;
	margin-bottom: 8px;
	transition: all .25s ease-in-out;
}
.recorded-item__content-link:hover {
	text-decoration: underline;
}
.recorded-item__content-title {
	font-weight: 300;
	font-size: 24px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
	margin-bottom: 23px;
}
.recorded-item__content-box {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.recorded-item__content-menu {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	margin-left: 22px;
}
.icon-list {
	font-size: 10px;
	margin-left: 6px;
}
.icon-clock {
	font-size: 14px;
	margin-left: 6px;
}
.recorded-item__content-date {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	text-transform: uppercase;
	color: #373737;
}
.recorded-item__content-price {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
}
.recorded-item__basket {
	position: absolute;
	bottom: 30px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 61px;
	height: 61px;
	border-radius: 100%;
	background-color: #F5F5F5;
	transition: all .25s ease-in-out;
}
.recorded-item__basket:hover {
	background-color: #94C05B;
}
.recorded-item__basket:hover .icon-cart {
	color: #fff;
}
.recorded-item__basket-link {
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-cart {
	font-size: 20px;
	transition: all .25s ease-in-out;
}



.search-banner {
	position: relative;
	overflow: hidden;
	height: 114px;
	width: auto;
	background-color: #8DC349;
	margin-bottom: 85px;
}
.search-banner__content {
	display: flex;
}

// .search-banner-decor-1 {
// 	position: absolute;
// 	top: -130px;
// 	left: -130px;
// 	width: 207px;
// 	height: 207px;
// 	border-radius: 100%;
// 	background-color: #FFCE88;
// }
// .search-banner-decor-2 {
// 	position: absolute;
// 	top: 0;
// 	right: -50%;
// 	width: 62px;
// 	height: 62px;
// 	border-radius: 100%;
// 	transform: translate(0, 0);
// 	background-color: #FFCE88;
// 	z-index: 100;
// }
.search-banner-decor-3 {

}


// NO SEARCH LOGGER & NOT LOGGER
.no-search {

}
.no-search__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	padding-bottom: 55px;
}
.no-search__image {
	margin-bottom: 34px;
}
.no-search__img {
	width: 107px;
	height: 107px;
}
.no-search__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 134.88%;
	text-transform: uppercase;
	color: #373737;
}

.no-search__slider {

}
.no-search__slider-wrapper {

}
.no-search__slider-slide {
	position: relative;
	padding: 30px;
	transition: all .25s ease-in-out;
	overflow: hidden;
	cursor: pointer;
}
.no-search__slider-slide:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, .08);
}
.no-search__slider-slide:hover .no-search__slider-hide-box {
	bottom: 50%;
}
.no-search__slider-image {
	margin-bottom: 20px;
}
.no-search__slider-img {
	width: 268px;
	height: 268px;
	object-fit: cover;
}
.no-search__slider-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.no-search__slider-content-link {
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #A7A7A7;
}
.no-search__slider-content-link:hover {
	text-decoration: underline;
}
.no-search__slider-content-title {
	margin: 12px 0; 
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #373737;
}
.no-search__slider-content-price {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #373737;
}
.no-search__slider-hide-box {
	display: flex;
	gap: 20px;
	position: absolute;
	bottom: -150%;
	left: 50%;
	transform: translate(-50%, 50%);
	transition: all .25s ease-in-out;
}
.no-search__slider-cart, 
.no-search__slider-like {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 61px;
	height: 61px;
	background-color: #f5f5f5;
	border-radius: 100%;
	transition: all .25s ease-in-out;
}
.no-search__slider-cart-link,
.no-search__slider-like-link {
	display: flex;
	justify-content: center;
	align-items: center;
}
.no-search__slider-cart:hover, 
.no-search__slider-like:hover {
	background-color: #8DC349;
}
.no-search__slider-cart:hover .icon-cart, 
.no-search__slider-like:hover .icon-heart-blank {
	color: #fff;
}