$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-waze: "\e936";
$icon-parking: "\e933";
$icon-bus: "\e934";
$icon-rhombus: "\e935";
$icon-cart-checked: "\e932";
$icon-triangle-blank: "\e930";
$icon-copy: "\e931";
$icon-eye: "\e92e";
$icon-eye-off: "\e92f";
$icon-twitter: "\e92c";
$icon-telegram: "\e92d";
$icon-arrow-bottom: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-top: "\e902";
$icon-bell: "\e903";
$icon-box: "\e904";
$icon-burger: "\e905";
$icon-calendar: "\e906";
$icon-call: "\e907";
$icon-cart: "\e908";
$icon-check: "\e909";
$icon-clock: "\e90a";
$icon-close: "\e90b";
$icon-diamond: "\e90c";
$icon-download: "\e90d";
$icon-email: "\e90e";
$icon-exit: "\e90f";
$icon-facebook: "\e910";
$icon-file: "\e911";
$icon-filter: "\e912";
$icon-gift: "\e913";
$icon-globe: "\e914";
$icon-heart-blank: "\e915";
$icon-info: "\e916";
$icon-inst: "\e917";
$icon-list: "\e918";
$icon-mark: "\e919";
$icon-message: "\e91a";
$icon-minus: "\e91b";
$icon-pan: "\e91c";
$icon-person: "\e91d";
$icon-person-secondary: "\e91e";
$icon-phone: "\e91f";
$icon-pint: "\e920";
$icon-plus: "\e921";
$icon-save: "\e922";
$icon-search: "\e923";
$icon-sliders: "\e924";
$icon-star: "\e925";
$icon-ticket: "\e926";
$icon-triangle-down: "\e927";
$icon-triangle-fill: "\e928";
$icon-triangle-left: "\e929";
$icon-triangle-right: "\e92a";
$icon-youtube: "\e92b";

